body
{
    margin:0;
}
.header
{
    display:flex;
    width:100%;
    height:15%;
    background-color: red;
    justify-content: center;
}
.flex-container
{
    display: flex;
    flex-wrap: wrap;
}
.asideleft
{
    flex:15%;
    /*height:700px;*/
}
.maincontent
{
    flex:70%;
    background-color: aquamarine;
    height:700px;
}
.asideright
{
    /*height:700px;*/
    flex:15%;
    background-color: aqua;
}

/*.iasideleft
{
    padding:10px;
}
*//*----------------------------------------------------------header---------------------------------------------------------------------*/

.leftheader
{
    justify-content: center;
    flex:80%;
}
.pheader
{
    margin:20 0 0 10px;
    font-family: cursive;
    font-size: 40px;
}
.rightheader
{
    justify-content: center;
    flex:20%;
    text-align: right;
    padding:30px;
}
.mainddheader
{
    padding:0;
    margin:0;
    list-style-type: none;
}
.mainddheader li
{
    font-size:20px;
    padding:10px;
}
.mainddheader li:hover .block
{
    display: block;
}
/*.ddblock
{
    display:none;
}*/
.insideddheader
{
    padding:0;
    margin:0;
    list-style-type: none;
    position: absolute;
    right:20px;
    display:block;
    background:white;
    width:100px;
    text-align: left;
}
.insideddheader li
{
    font-size:15px;
    padding:15px;
}
.insideddheader li a
{
    text-decoration: none;
    color:black;
}
.insideddheader li:hover
{
    background:green;
}
/*----------------------------------------------------------asideleft------------------------------------------------------------------*/
/*.ulasideleft
{
    list-style-type: none;
    padding:0;
    margin:0;
}
.ulasideleft li
{   
    font-family: fantasy;
    padding:10px;
    color:white;
}
.ulasideleft li a
{
    color:white;
    text-decoration: none;
}
.ulasideleft li:hover
{
    background-color: chocolate;
}
.ulasideleft li:active
{
    background-color: chocolate;
}
*/
ul.nav  {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0px;
    background-color: #333;
}

ul.nav > li {
    /*float: left;*/
    padding: 0px;
}

ul.nav > li > a {
    display: block;
    color: white;
    border: none;
    padding: 20px 30px;
    text-align: left;
    transition: all 0.7s ease;
    text-decoration: none;
}

ul.nav > li > p {
    display: block;
    color: white;
    padding: 14px 14px;
    text-align: left;
    text-decoration: none;
}

ul.nav > li a:hover {
    background-color: #111;
    color: yellow;
}

ul.nav > li > a.active {
    background-color: #111;
    color: yellow;
}

ul.nav > li a:hover {
    background-color: #111;
}
/*----------------------------------------------------------asideright------------------------------------------------------------------*/
/*.iasideright p
{
    font-family: cursive;
    font-size:20px;
    margin-bottom: 0;
}*/
hr 
{
    display: block;
    margin-top: 0.5px;
    margin-left:0;
    margin-right: 20%;
    border-style: inset;
    border:1px solid black;
}
.asiderighttable
{
    width:100%;
    background-color: white;
}
table,th,td
{
    border-collapse:collapse;   
}
.asiderighttable th
{
    border:0px;
    padding:10px;
    background-color: black;
}
.asiderighttable tr:nth-child(even)
{
    background-color:#333;
    color:white;
}
.asiderighttable tr:nth-child(odd)
{
    background-color:#808080;
    color:white;
}
.asiderighttable td
{
    border:0;
    font-size: 20px;
    padding:10px;
}

@media (max-width:700px)
{
    .flex-container
    {
        flex-direction:column;
    }
}

