.tags {
  float:left;
  padding: 28px;
}

.container {
  padding: 10px;
}

.container > form > input {
  border-spacing: 5px;
  padding: 10px;
  float: left;
}

div.tags > ul > li, div.container > form > ul > li {
	font-style: Georgia,serif;
	font-size: 15px;
  padding: 15px;
}

div.tags > ul, div.container > form > ul {
  list-style-type: none;
}

h2 {
	text-align: center;
}

.l1 {
  float: left;
  margin: 0 20px 0 0;
}

.l2 {
  float: right;
}